﻿<h1>Muffin (An Umbraco Foundation)</h1>

<p>Muffin is the reincarnation of the foundation formerly known as the Macaw Umbraco Foundation. It's a simplefied templating API / facade on top of the
Umbraco framework to allow easier front-end development, quicker development. It also comes with some helpers and default implementations of frequently used functionality.
It tries to focus SOLID principles as much as possible to allow better testability. For more info you can als find a presentation given at the BUUG: 
<a href="http://www.slideshare.net/JeroenWijdeven">A dynamic journey of concerns</a></p>

<h3>Some features:</h3>

<ul>
<li>Frontend developers friendly hybride "dynamic" or typesafe models for templates </li>
<li>Frontend developers friendly Partial view Macros</li>
<li>T4 POCO model generation </li>
<li>Paged result views  </li>
<li>Basic property editor converters </li>
<li>Focused on SOLID principles, to allow better unit-testability</li>
<li>Mappers to convert objects to Json</li>
<li>Mappers to convert objects to typed objects..</li>
<li>Rss feeds for all document types http://--domain--/rss/{urlpath}</li>
<li>Json Request converters. By calling http://--domain--/json/{urlpath} the IPublishedContent based on the urlpath is returned as Json.</li>
<li>Umbraco.ImageCropper simplefied API, works for traditional mediatypes and grid images aswell.</li>
<li>Standard Examine Search implementation  </li>
<li>File based caching with MvcDonutCaching</li>
<li>Grid manipulation (typed grid object and control value converters)</li>
</ul>

<h3>Underconstruction:</h3>

<p>The whole foundation is constantly under development. But currently we are especially focused on:</p>

<ul>
<li>Stability, optimization, performance and caching</li>
<li>Azure ready examine: https://github.com/Shazwazza/Examine/wiki/Examine-with-Azure-Websites</li>
</ul>

<p>Currently build on top of Umbraco 7.2.4</p>

<h2>Installation</h2>

<p>Umbraco is installed and updated via Nuget.</p>

<h2>Examples and documentation</h2>

<ul>
<li>The example database username is "admin" and the password is "password".  </li>
<li>The nuget package and the example project both use Autofac. See the implementation folder for more information and / or customization. </li>
</ul>

<h2>Credits</h2>

<ul>
<li><a href="https://github.com/MacawNL/Macaw.Umbraco.Foundation/">Macaw Umbraco Foundation</a></li>
</ul>
