﻿@using Muffin.Mvc
@inherits Muffin.Mvc.DynamicMacroViewPage


	<section>
		<h4>@Macro.Content().Titel</h4>
		<img src="@Macro.Content().Thumbnail.Url" width="100px" height="100px"/>
		<p>@Macro.Content().Intro</p>
		<button onclick="window.location = '@Macro.Content().Url'; return true;" style="width: 100%">@("Lees meer...".Translate("readmore"))</button>
	</section>
