﻿@using Example.Implementation.ViewModels
@using Muffin.Core
@using Muffin.Core.Models
@using Muffin.Infrastructure
@using Our.Umbraco.Ditto
@inherits UmbracoViewPage<IModel>
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>@(Model.As<Base>().BrowserTitel)</title>
        <meta name="description" content="@(Model.As<Base>().MetaDescription)">
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="/css/normalize.min.css">
        <link rel="stylesheet" href="/css/main.css">

        <script src="/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

        <div class="header-container">
            <header class="wrapper clearfix">
                <h1 class="title" onclick="window.location = '/'">@(Model.Homepage.As<Base>().Titel)</h1>
                <nav>
                    <ul>
                        @foreach (var child in Model.Homepage.Children.As<Base>())
                        {
                            if (!child.UmbracoNaviHide)
                            {
                                <li><a href="@Umbraco.NiceUrlWithDomain(child.Id)">@child.Titel</a></li>
                            }
                        }
                    </ul>
                </nav>
            </header>
        </div>

        <div class="main-container">
            <div class="main wrapper clearfix">

                <article>
                    @RenderSection("Main", required: true)
                </article>


                    @RenderSection("Side", required: false)
                

            </div> <!-- #main -->
        </div> <!-- #main-container -->

        <div class="footer-container">
            <footer class="wrapper">
                <h3>Lorem ipsum, Some city, NL</h3>
				<ul>
					@foreach(dynamic item in Model.Homepage.AsDynamic().SocialNetworks())
					{
						<li><a href="@item.Url">@item.Title</a></li>
					}
				</ul>
            </footer>
        </div>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="/js/vendor/jquery-1.10.1.min.js"><\/script>')</script>

        <script src="js/main.js"></script>

        <script>
        	var _gaq = [['_setAccount', 'UA-XXXXX-X'], ['_trackPageview']];
        	(function (d, t) {
        		var g = d.createElement(t), s = d.getElementsByTagName(t)[0];
        		g.src = '//www.google-analytics.com/ga.js';
        		s.parentNode.insertBefore(g, s)
        	}(document, 'script'));
        </script>
    </body>
</html>
