@using Our.Umbraco.Ditto
@inherits UmbracoViewPage<Example.Implementation.ViewModels.Content>
@{
    Layout = "~/Views/Shared/_layout.cshtml";
}
@section Main
{


    <header>
        <h1>@Model.Titel</h1>

        <br />
        @Model.Croppedimage

        <img src="@Model.Croppedimage["640x480"]" />
        <img src="@Model.Croppedimage["1024x768"]" />

        <img src="@Model.Croppedimage[200, 100]" />

        @if (Model.Afbeelding == null || Model.Afbeelding.IsNull())
        {
            <p>Er is geen afbeelding ingegeven.</p>
        }
        else
        {
            <p><img src="@Model.Afbeelding.Url" width="400px" height="400px" /></p>
        }

        <i>@Model.Intro</i>
    </header>
    <section>
        <hr />
        @* for demo purpose only...
            if (Model.Intro.Length < 110)
            {
                <p>@Model.Intro</p>
            }
            else
            {
                <p>@Model.Intro.Substring(0, 110)</p>
            }
        *@

    </section>

    <section>

        <h2>Grid</h2>

        @(Model.Grid.Sections.First().Rows.ElementAt(1).Areas.First().Controls.First().Value[100,100])
    </section>
}
