﻿@inherits UmbracoViewPage<Example.Implementation.ViewModels.Home>
@using Example.Implementation.ViewModels
@using Muffin.Core
@using Muffin.Infrastructure
@using Our.Umbraco.Ditto;
@{
    Layout = "~/Views/Shared/_layout.cshtml";
}

@section Main
{
	<header>
	    Rotatie snelheids: @(Model.CarrouselContainer().As<Carrousel>().Rotatiesnelheid)<br />
        @((Model.CarrouselContainer() as IPublishedContent).Children.AsJson())

        
	    <ul>
		@foreach(var item in Model.CarrouselContainer().Children.As<CarrouselItem>())
		{
			<li>@item.Afbeelding.Url @item.Titel - @item.Beschrijving @item.Link</li>
		}

		</ul>
    </header>
	<section>
		<h1>@Model.Titel</h1>
        <p>@Model.Intro</p>
		<section>
			@Model.MainBody
		</section>
	</section>
}

@section Side
{
	@foreach(var widget in Model.WidgetArea())
    {
        <aside>
            @widget
        </aside> 
	}
}